header {
    display: flex;
    padding: 20px;
    position: relative;
    
    img {
        width: 30%;
        object-fit: none;
    }
}

nav {
    display: flex;
    padding: 2%;
    position: absolute;
    left: 70%;
    right: 0%;
    top: 25%;
    bottom: 25%;

    /*à retirer*/
    a.active {
        text-decoration-line: underline;
    }

    a {
        display: flex;
        padding: 20px;
        align-items: flex-end;
        color: #FF6060;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 142.6%;
        text-decoration: none;

        &:active {
            text-decoration-line: underline;
        }
    }
}

@media screen and (max-width: 700px) {
    header {

        img {
            width: 145px;
            object-fit: contain;
         }
    }

    nav {
        
        a {
            font-size: 12px;
            text-transform: uppercase;
            padding: 3px;
        }
    }
}