div.dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
    padding: 10px;
    width: 1023px;
    border-radius: 5px;
    background: #FF6060;
    margin-bottom: 100px;
}

div.dropdown-off {
    color: white;
    padding: 10px;
    width: 1023px;
    border-radius: 5px;
    background: #FF6060;
    margin-bottom: 10px;
}