div.element-dropdown {
    display: block;
    position: absolute;
    top: 30px;
    right: 0px;
    height: 146px;
    width: 100%;
    border-radius: 5px;
    background: #F6F6F6;
    z-index: -1;
    
    span {
        color: #FF6060;
        position: absolute;
        left: 1.76%;
        right: 2.64%;
        top: 10.22%;
        bottom: 10.33%;
        font-size: 20px;
    }
}