.card {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    height: 340px;
    width: 340px;
    border-radius: 10px;
    background: linear-gradient(180deg, #FF6060 100%, rgba(0, 0, 0, 0.5) 100%);
    margin-bottom: 20px;
    overflow: hidden;

    span {
        padding: 10px;
        color: white;
    }

    img {
        object-fit: cover;
        height: 300px;
        width: 100%;
        border-radius: 10px;
    }
}

a {
    text-decoration: none;
}

@media screen and (max-width: 700px) {
    .card {
        height: 255px;
        width: 335px;
    }

}